.header{
    margin: 50px;
}
.logo{
    margin: 10px;
}
.title{
    padding: 5px;   
}

.title a{
    text-decoration: none;
    color: black;
}

.title a:hover{
    
    color: rgb(9, 161, 111);
}

.title h1{
    margin-left: 10px;
    font-size: 23px;
    font-weight: bold;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date p{
    color: grey;
    /* padding: 10px; */
}

.recNum p{
    font-weight: bold;
}